@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-accent: #ff6347;
    --background-color: #f8f8f8;
}

.introduction {
    padding-top: 220px;
    height: 100%;
}

.hello-text {
    font-size: 50px;
    font-weight: bold;
}
.contact-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
}

.contact-button:hover {
    background-color: #ff4500;
}

.name-text {
    margin-top: -20px;
    font-size: 60px;
    font-weight: bold;
    color: #3f6ef0;
    letter-spacing: -0.1px;
}

.job-text {
    margin-top: -10px;
    font-size: 30px;
    font-weight: bold;
}

.snslinks {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 10px;
}

.menu-area {
    padding: 20px;
    display: inline-block;
    position: relative;
    background-color: var(--bg-accent);
}

.menu-dropdown {
    display: none;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.menu-area:hover .menu-dropdown {
    display: block;
    position: relative;
    z-index: 1000;
}

@layer components {
    .header {
        position: fixed;
        background-color: #ffffff;
        top: 0;
        color: #909090;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding-left: 110px;
        padding-right: 110px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .body {
        background-color: #f8f8f8;
        padding-left: 110px;
        padding-right: 110px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 100vh; /* Ensure the body covers the full viewport height */
        box-sizing: border-box; /* Include padding in the height calculation */
    }

    .footer {
        background-color: #f8f8f8;
        position: fixed;
        bottom: 0;
        left: 0; /* Ensure it starts from the left edge */
        right: 0; /* Ensure it spans to the right edge */
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000; /* Ensure the footer is on top of other elements */
    }

    .headerlogo {
        margin-right: auto;
        line-height: 1.2;
    }

    .biglogo {
        color: #000000;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .headerpagelinks {
        display: flex;
        align-items: center;
    }

    .navcomponents {
        display: flex;
        margin-left: 50px;
    }

    .navcomponents:first-child {
        margin-left: 0px;
    }

    .navlogos {
        display: flex;
        margin-right: 20px;
    }

    .menuicon {
        margin-right: -10px;
    }

    .menudropdown {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-component {
        color: #909090;
        margin-bottom: 8px;
        text-decoration: none;
        color: #333333;
    }
}
